@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body{
    background-color: #fff;
    min-height: 100vh;
    font-family: 'Rubik', 'Arial', sans-serif;
}

.container{
    width: 1150px;
    padding: 0 25px;
}

.site-header{
    padding-top: 48px;
    position: relative;
}

.site-nav{
    flex-grow: 1;
}

.site-list{
    list-style: none;
}

.site-item:not(:first-child){
    margin-left: 48px;
}

.site-link{
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: #242a45;
    text-transform: uppercase;
    text-decoration: none;
}

.site-link:hover{
    color: #fa5959;
}

.site-item:last-child .site-link{
    background: #fa5959;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    padding: 12px 34px;
    color: #fff;
    display: inline-block;
}

.site-item:last-child .site-link:hover{
    background-color: #fff;
    outline: 2px solid #fa5959;
    color: #fa5959;
}

/* header end */
/* hero-intro start */

.hero-intro{
    padding: 115px 0 102px;
    background-image: url('/images/hero-background-img.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.hero-info{
    width: 50%;
}

.hero-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: #242A45;
    margin-bottom: 24px;
}

.hero-text{
    font-size: 18px;
    line-height: 28px;
    color: #242A45;
    opacity: 0.5;
    margin-bottom: 32px;
}

.btns .btn{
    padding: 10px 24px;
}

.btns .btn:last-child{
    margin-left: 16px;
    color: #242A45;
    opacity: 0.75;
    background: #f7f7f7;
}

.btns .btn:last-child:hover{
    outline: 2px solid #5B6074;
}

.hero-img{
    width: 50%;
}

.hero-img img{
    width: 536px;
    border-radius: 25px;
}

/* hero end */
/* features start */

#features{
    padding: 80px 0 89px;
    background-image: url('/images/features-background-img.svg');
    background-repeat: no-repeat;
    background-position: bottom left -100px;
}

.features-intro .text{
    margin-bottom: 72px;
}

.features-list{
    list-style: none;
    margin-bottom: 72px;
}

.features-item{
    padding: 0 50px 27px 41px;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.533333px;
    color: #242a45;
    opacity: 0.75;
    border-bottom: 2px solid rgba(73, 93, 207, 0.20012);
    position: relative;
    cursor: pointer;
}

.features-item::after{
    content: '';
    width: 100%;
    height: 4px;
    display: inline-block;
    background-color: #fa5959;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.features-item:hover{
    color: #fa5959;
}

.features-item:hover::after{
    opacity: 1;
}

.features-img{
    width: 50%;
}

.features-img img{
    width: 536px;
}

.features-desc{
    width: 50%;
    padding-left: 50px;
}

.features-desc .text{
    margin-bottom: 32px;
}

.features-desc .btn{
    padding: 10px 24px;
}

/* features end */
/* download start */

#download{
    padding: 149px 0 0;
}

.container-download{
    width: 950px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
}

.title{
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: #242a45;
    margin-bottom: 16px;
}

.text{
    font-size: 18px;
    line-height: 28px;
    color: #242a45;
    opacity: 0.5;
    margin-bottom: 48px;
}

.download-cards{
    width: 100%;
    margin-bottom: 40px;
    list-style: none;
    justify-content: center;
}

.download-box{
    width: 280px;
    background: #fff;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
}

.download-box:not(:last-child){
    margin-right: 34px;
}

.download-box-top{
    padding: 49px 30px 32px;
    border-bottom: 4px dotted rgba(73, 93, 207, 0.20012);
}

.download-title::before{
    content: '';
    display: block;
    width: 102px;
    height: 100px;
    background-image: url('/images/chrome.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.download-box:nth-child(2) .download-title::before{
    content: '';
    display: block;
    width: 105px;
    height: 100px;
    background-image: url('/images/firefox.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.download-box:last-child .download-title::before{
    content: '';
    display: block;
    width: 96px;
    height: 100px;
    background-image: url('/images/opera.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.download-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #242A45;
    margin-bottom: 6px;
}

.download-text{
    font-size: 15px;
    line-height: 28px;
    color: #242a45;
    opacity: 0.5;
}

.download-box-bottom{
    padding: 24px;
}

.btn{
    padding: 10px 35px;
    background: #5267df;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #fff;
    cursor: pointer;
}

.download-box:nth-child(2){
    position: relative;
    top: 40px;
}

.download-box:last-child{
    position: relative;
    top: 80px;
}

.btn:hover{
    color: #5267df;
    background-color: #fff;
    outline: 2px solid #5267df;
}

/* download end */
/* questions start */

#questions{
    padding: 189px 0 150px;
}

.questions-intro{
    width: 540px;
    margin-right: auto;
    margin-left: auto;
}

.questions .text{
    margin-bottom: 56px;
}

.questions-list{
    list-style: none;
    margin-bottom: 54px;
}

.questions-item{
    font-size: 18px;
    line-height: 32px;
    color: #242a45;
    padding: 19px 23px 13px 0;
    position: relative;
    cursor: pointer;
}

.questions-item::before{
    content: '';
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #242a45;
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
}

.questions-item:last-child::after{
    content: '';
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #242a45;
    opacity: 0.15;
    position: absolute;
    bottom: 0;
    left: 0;
}

.questions-item:hover{
    color: #fa5959;
}

.bx-chevron-down{
    color: #5267df;
    font-size: 30px;
}

.questions-intro .btn{
    padding: 10px 24px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.hidden{
    display: none;
}

.show{
    display: block;
    margin: 32px 0 16px;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #242a45;
    opacity: 0.75;
}

.degree{
    transform: rotate(-180deg);
    color: #fa5959;
}

/* questions end */
/* email start */

#email{
    padding: 58px 74px;
    background-color: #5267df;
}

.joiners{
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 24px;
}

.email-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.1px;
    color: #fff;
    margin-bottom: 36px;
}

input[type="email"]{
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-right: 12px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #242a45;
}

input[type="email"]:focus{
    outline: 2px solid #fa5959;
}

form {
    text-align: center;
}

form .btn{
    padding: 10px 24px;
    background: #fa5959;
}

form .btn:hover{
    outline: 2px solid #fa5959;
    color: #fa5959;
}

::placeholder{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: rgba(36, 42, 69, 0.250109);
}

/* email end */
/* footer start */

.site-footer{
    padding: 32px 0;
    background-color:#242a45;
}

.footer-logo{
    margin-right: 63px;
}

.footer-nav{
    flex-grow: 1;
}

.footer-list{
    list-style: none;
}

.footer-item{
    margin-right: 44px;
}


.footer-link{
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: #fff;
    text-decoration: none;
}

.footer-link:hover{
    color: #fa5959;
}

.social-icons{
    list-style: none;
}

.icons-item{
    margin-left: 40px;
}

.icons-item .bx{
    color: #fff;
    font-size: 20px;
}

.icons-item .bx:hover{
    color: #fa5959;
}

/* FOOTER END */
/* HEADER RESPONSIVE START */

.header-btn,
.header-btn-close {
    background-color: transparent;
    font-size: 30px;
    border: none;
    cursor: pointer;
    display: none;
    position: relative;
    top: 3px;
}

/* MEDIA LARGE START */

@media screen and (max-width: 992px) {
    
    /* HEADER START */

    .container,
    .container-download {
        width: 95%;
    }

    .hero-entry{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-img{
        width: 100%;
        position: static;
        text-align: center;
    }

    .hero-img img{
        max-width: 587px;
    }

    .hero-intro{
        background-position: top 250px right;
    }

    .hero-info{
        margin-top: 150px;
        width: 100%;
        text-align: center;
    }

    /* HERO END */
    /* FEATURES START */

    .features-img{
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .features-img img{
        max-width: 657px;
        object-fit: cover;
        border-radius: 16px;
    }

    #features{
        background-position: bottom 370px left;
    }

    .features-desc{
        width: 100%;
        margin-top: 169px;
        text-align: center;
    }

    .features-item::after{
        width: 50%;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* FEATURE END */
    /* DOWNLOADS-CARDS START */

    .download-intro{
        width: 100%;
    }

    .download-cards{
        justify-content: center;
    }

    .hidden{
        color: #000;
    }

    /* DOWNLOAD END */
}

/* MEIDA LARGE END */

@media screen and (max-width: 768px) {

    /* HEADER START */

    .container,
    .container-download {
        width: 95%;
    }

    .logo-box{
        z-index: 3000;
        color: #fff;
    }

    .site-nav{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 200;
        background-color: #000;
        opacity: 0.9;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s ease all;
        margin-top: 0;
    }

    .site-list{
        display: flex;
        flex-flow: column wrap;
        margin-top: 0;
    }

    .site-item:not(:first-child){
        margin-left: 0px;
    }

    .site-item{
        margin-bottom: 30px;
    }

    .site-link{
        color: #fff;
        font-size: 20px;
    }

    .header-btn{
        display: block;
        position: relative;
    }

    .header-btn-close{
        position: fixed;
        top: 50px;
        right: 50px;
        color: #fff;
        z-index: 200;
        display: none;
    }

    .show{
        top: 0;
        color: #fff;
    }

    .show-it{
        display: block;
    }

    .hide{
        display: none;
    }

    .hero-img{
        left: 0;
    }

    /* HEADER END */
    /* HERO-INTRO START */

    .hero-entry{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-img{
        width: 100%;
        position: static;
        left: 0;
    }

    .hero-img img{
        width: 100%;
    }

    .hero-intro{
        background-position: top 250px right;
    }

    .hero-info{
        margin-top: 150px;
    }

    .hero-title{
        width: 100%
    }

    /* HERO END */
    /* FEATURES START */

    .features-list{
        display: flex;
        flex-direction: column;
    }

    .features-item{
        width: 100%;
        text-align: center;
        padding: 20px 0 20px;
    }

    .features-item:first-child{
        border-top: 1px solid rgba(73, 93, 207, 0.20012);
    }

    .features-img{
        width: 100%;
        margin-right: 0;
    }

    .features-img img{
        width: 100%;

    }

    #features{
        background-position: bottom 370px left;
    }

    .features-desc{
        width: 100%;
        margin-top: 169px;
        text-align: center;
    }

    /* FEATURE END */
    /* DOWNLOADS-CARDS START */

    .download-cards{
        display: flex;
        flex-direction: column;
    }

    .download-box{
        width: 100%;
        text-align: center;
    }

    .hidden{
        color: #000;
    }

    /* DOWNLOAD END */
    /* EMAIL START */

    input[type="email"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 38px;
    }

    form .btn{
        width: 100%;
    }

    /* EMAIL END */
    /* FOOTER START */

    .footer-wrapper,
    .footer-list {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-logo{
        margin-bottom: 39px;
        margin-right: 0;
    }

    .footer-item{
        margin-bottom: 32px;
        margin-right: 0;
    }

    .icons-item{
        margin-left: 0;
    }

    .icons-item:first-child{
        margin-right: 40px;
    }

}

@media screen and (max-width: 576px) {
    .btns{
        display: flex;
        flex-direction: column;
    }

    .btns .btn:first-child{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .btns .btn:last-child{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
    }

    /*  QUESTIONS START */

    .questions-intro{
        width: 100%;
        padding: 0 25px;
        margin: 0 auto;
    }

    /* QUESTION END */
    /* EMAIL START */

    .email-intro{
        width: 100%;
    }

    input[type="email"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 38px;
    }

    form .btn{
        width: 100%;
    }
}